.u-section-1 {
  background-image: linear-gradient(#00ff88, #478ac9);
  min-height: 987px;
}

.u-section-1 .u-group-1 {
  width: calc(((100% - 1140px) / 2) + 199px);
  min-height: 168px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 259px;
  height: 162px;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  width: 318px;
  margin: -166px auto 0;
}

.u-section-1 .u-group-2 {
  width: 570px;
  background-image: linear-gradient(#72efe9, #478ac9);
  min-height: 228px;
  margin: 11px auto 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 34px 0 0 16px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  background-image: none;
  margin: -2px auto 0;
  padding: 16px 35px 17px 34px;
}

.u-section-1 .u-image-2 {
  width: 164px;
  height: 164px;
  margin: -77px 0 0 auto;
}

.u-section-1 .u-group-3 {
  width: 570px;
  background-image: linear-gradient(#e68387, #f1c50e);
  min-height: 228px;
  margin: 46px auto 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 30px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 16px 0 0 46px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 0 auto;
  padding: 17px 43px 17px 41px;
}

.u-section-1 .u-image-3 {
  width: 172px;
  height: 172px;
  margin: -59px auto -68px 0;
}

.u-section-1 .u-group-4 {
  width: 570px;
  min-height: 262px;
  height: auto;
  background-image: linear-gradient(#666666, #41807c);
  margin: 46px auto 20px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 46px;
}

.u-section-1 .u-text-5 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 46px;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 4px 46px 0;
}

.u-section-1 .u-text-7 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0 46px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 22px 99px 0 -7px;
}

.u-section-1 .u-shape-1 {
  width: 18px;
  height: 32px;
  margin: -32px auto 0 6px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 940px) / 2) + 199px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 9px;
  }

  .u-section-1 .u-image-1 {
    width: 208px;
    height: 129px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: calc(((100% - 720px) / 2) + 199px);
  }

  .u-section-1 .u-image-1 {
    width: 169px;
    height: 105px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 1182px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 540px) / 2) + 199px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: 32px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-top: 36px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 36px;
  }

  .u-section-1 .u-group-4 {
    width: 540px;
    margin-top: 50px;
    margin-bottom: 22px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 31px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 31px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 31px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 31px;
    margin-left: 31px;
  }

  .u-section-1 .u-text-8 {
    margin-right: 84px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 1388px;
  }

  .u-section-1 .u-group-1 {
    width: calc(((100% - 340px) / 2) + 199px);
  }

  .u-section-1 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    min-height: 288px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 10px;
    margin-left: 0;
  }

  .u-section-1 .u-image-2 {
    width: 137px;
    height: 156px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 92px;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    min-height: 271px;
    margin-top: 54px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    width: 78px;
    height: 78px;
    margin-top: 16px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    min-height: 291px;
    margin-top: 70px;
    margin-bottom: 54px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 4px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-shape-1 {
    width: 16px;
    height: 28px;
    margin-top: -16px;
  }
}