.u-section-1 .u-sheet-1 {
  min-height: 1351px;
}

.u-section-1 .u-text-1 {
  margin: 0 -38px 0 auto;
}

.u-section-1 .u-custom-html-1 {
  min-height: 228px;
  height: auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 958px;
  width: 134px;
}

.u-section-1 .u-custom-html-2 {
  min-height: 1362px;
  height: auto;
  margin: -280px 570px -15px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1487px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: 304px;
    margin-left: 724px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 87px;
    margin-left: 719px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 1487px;
    margin-top: -267px;
    margin-right: 470px;
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 167px;
    margin-left: 530px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 78px;
    margin-left: 508px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 250px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1767px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: auto;
    margin-left: 137px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 297px;
    margin-left: 109px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: 109px;
    margin-left: -39px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1885px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 1px;
    margin-right: 0;
    margin-left: 78px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 169px;
    margin-left: 37px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 1587px;
    margin-top: -1884px;
    margin-bottom: -1332px;
    margin-right: initial;
    margin-left: initial;
  }
}